@using ChefBox.ViewModels.Ingredient
@model IndexViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingredients</h4>
                <h6 class="card-subtitle">Show all ingredients for all recipies</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Recipes</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <tr>
                                    <td>@ingredient.Name</td>
                                    <td>@ingredient.RecipesCount</td>
                                    <td>@ingredient.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>